body{
	background-color: black;
}
h1{
	color: white;
	font-size: 20px;
}
h2{
	color: red;
	font-size: 20px;
	padding-left: 98px;
	margin-top: -37px;
}
#header{
	padding-left: 300px;
	margin-top: 30px;

}
.list{
	padding-left: 550px;
	font-size: 12px;
	margin-top: -50px;


}
ul{
	list-style-type: none;
	padding: 2;
	margin: 0;
	overflow: hidden;

}
li{
	float: left;
}
li a{
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 16px;
	color: white;
}
li a:hover{
	color: red;

}
img{
	border-radius: 50px;
	
}
#mus{
	color: white;
	font-size: 20px;
	margin-left: 300px;

}
.img5{
	color: white;
	margin-left: 300px;
}
#img6{
	margin-left: 600px;
}
#las{
	margin-left: 580px;
	color: grey;
	font-size: 10px;

}
#mon{
	border: 1px solid grey ;
	width: 100px;
	margin-left: 690px;
	margin-top: -30px;
	color: grey;
}

#artist{
	margin-left: 500px;
	color: grey;
	margin-top: -40px;
}

#track{
	color: grey;
	margin-left: 500px;
	margin-top: -150px;
	}
#track1{
	margin-left: 270px;
	color: grey;
}
#album{
	margin-left: 500px;
	color: grey;

}
#hr{
	width: 500px;
	margin-left: -10px;
}
audio{
	margin-left: 500px;
}